@import "compass/css3";
@import "compass/support";
@import "reset";
@import "mixins";
@import "ng-animate";
@import "../font/font.css";

.cf_:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


.cf_ {
    display:block;
    *display:inline-block;
}

::selection{
    background-color:#0099cc;
    color:#FFF;
}

::-moz-selection{
    background-color:#0099cc;
    color:#FFF;
}

.vertical-align{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

%fill-all{
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}


*{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}



#home{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    #qr{
        
        position: absolute;
        left: 15%;
        top:50%;
        background-color:red;
        width: 640px;
        height: 480px;
        @include transform(scaleX(-1));
        @include transform(translate(0%,-50%));
    }

    #qr_code{
        position: absolute;
        left: 65%;
        top:50%;
        background-color:blue;
        width: 256;
        height: 256;
        @include transform(scaleX(-1));
        @include transform(translate(0%,-50%));
    }
}